.container {
  background-color: gray;
  margin-top: 30px;
  padding-bottom: 10px;
}

.img {
  width: 300px;
  height: 200px;
  margin: 10px;
}
h1 {
  text-align: center;
}
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 10px;
}

.linkedinLogo,
.githubLogo {
  width: 300px;
  height: 300px;
  /* margin-left: 10px; */
  /* margin-top: 10px; */
}

p,
.emailP {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: 600;
}

.linkedinText {
  /* margin-left: 35px; */
}

.linkText{
  /* margin-left: 50px; */

}

.ISSImg,
.workdayScheduler {
  width: 200px;
  height: 100px;
}

.linkedinText,
.linkText,
.ISSRepository{
  font-family: 'Times New Roman', Times, serif;
font-size: 26px;
font-weight: bold;
}

.footer {
  clear: both;
  overflow: auto;
  position: fixed;
  bottom: 0%;
  height: 60px;
  width: 100%;
  text-align: center;
  background-color: darkgrey;
  padding-top: 15px;
}

@media only screen and (min-width: 600px){
  .linkedinLogo,
  .githubLogo {
    width: 200px;
    height: 200px;
  }
} 

@media only screen and (min-width: 600px){
  .linkedinText{
    margin-left: 5px;
  }
}

@media only screen and (min-width: 600px){
  .githubText{
    margin-left: 45px;
  }
}

@media only screen and (max-width:600px){
.workdayScheduler {
  margin-top: 30px;
}
.ISSImg,
.workdayScheduler {
  width: 300px;
  height: 150px;
}

}